<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="client_id" value="95CA50AE-616B-49BD-A7B5-603C24CE7AF2"/>
		<add key="client_secret" value="98970817-7F32-440C-9C84-8E660857F970"/>
		<add key="grant_type" value="client_credentials"/>
	</appSettings>
    <startup>
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>